@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  background: #131c2f;
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height, 140px) !important;
  overflow-x: hidden;
}

body {
  background: #131c2f;
  color: white;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

html.menu-open,
body.menu-open {
  overflow: hidden;
}

#hero-section,
#about-section,
#skills-section,
#portfolio-section,
#contact-section {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#about-section {
  z-index: 2;
}

.jakob-image {
  width: 150px;
  height: 60px;
}

#about-section,
#skills-section,
#contact-section {
  scroll-margin-top: 0px;
}

#portfolio-section {
  scroll-margin-top: -40px;
}

@media(min-width: 800px) and (max-width: 1024px) {
  #portfolio-section {
    scroll-margin-top: -30px;
  }
}

@media(min-width: 500px) and (max-width: 799px) {
  #portfolio-section {
    scroll-margin-top: -50px;
  }
}

@media(max-width: 499px) {
  #portfolio-section {
    scroll-margin-top: -60px;
  }

  #skills-section {
    scroll-margin-top: 10px !important;
  }
}