@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  background: #131c2f;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  overflow-x: hidden;
}

body {
  background: #131c2f;
  color: white;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

#hero-section,
#about-section,
#skills-section,
#portfolio-section,
#contact-section {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#about-section {
  z-index: 3;
}

.jakob-image {
  width: 150px;
  height: 60px;
}